.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3rem;

  color: #ffd850;
  font-weight: 700;
  background: #393939;
  padding: 0 10%;
}

.header__left {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.header__left--icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header__right {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.header__right--wrapper {
  display: flex;
  align-items: center;

  gap: 1rem;
}

.header__right--item {
  text-decoration: none;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  padding: 0.5rem 1.5rem;
  font-weight: 700;
  border-radius: 50px;
  background: var(--color-primary);
  cursor: pointer;
}

.btn-primary:hover {
  background: var(--color-primary-dark);
  color: var(--color-primary);
}

.nav__active {
  color: var(--color-primary);
  text-decoration: none;
}

.nav__default {
  color: var(--color-white);
  text-decoration: none;
}
