.home {
  position: relative;
}

.home .home__background {
  position: relative;
  overflow: hidden;
}

.header {
  background: rgba(57, 57, 57, 0.7);
}

.home .home__bgImg {
  width: 100%;
  height: auto;
  display: block;
}

.home .home__bgImg--cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f3f3f;
  opacity: 0.6;
}

.home .home__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  text-align: center;
  color: white;
  transform: translate(-50%, -50%);
}

.home .home__inner .homeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  text-align: left;
}

.home .home__inner .homeText .homeText__subtitle {
  padding-bottom: 0.7rem;
  font-size: 1.1rem;
  color: var(--color-primary);
}

.home .home__inner .homeText .homeText__title {
  padding-bottom: 1rem;
  font-size: 2.6rem;
  font-weight: 700;
}

.home .home__inner .homeText .homeText__title span {
  color: var(--color-primary);
}

.home .home__inner .homeText .homeText__description {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.home .home__inner .homeText .homeText__btn {
  display: flex;
  justify-content: space-between;
}

.home .home__inner .homeText .homeText__btn .homeText__btn--left,
.home .home__inner .homeText .homeText__btn .homeText__btn--right {
  padding: 0.6rem 1rem;
  border: 1px solid var(--color-primary);
  border-radius: 2rem;
  background-color: #ffd12c;
  color: var(--color-black);
  font-weight: 700;
  transition: 0.5s;
}

.home .home__inner .homeText .homeText__btn .homeText__btn--right {
  margin-left: 1rem;
  background-color: transparent;
  color: var(--color-primary);
}

.home .home__inner .homeText .homeText__btn .homeText__btn--left:hover {
  background-color: #ffe68a;
  color: var(--color-black);
}

.home .home__inner .homeText .homeText__btn .homeText__btn--right:hover {
  background-color: #ffe68a;
  color: var(--color-black);
}

.home .home__inner .homeSwiper {
  width: 60%;
}
