.Wiki {
  display: flex;
}

.sidebar__wiki {
  position: fixed;
  top: 6.5rem;
  left: 2rem;
  width: 12rem;
  height: 65%;
  padding: 2rem;
  background-color: var(--color-beige);
  border-radius: 1rem;
  color: var(--color-black);
  box-shadow: 0 0.2rem 0.4rem 0 #c3c3c3;
}

.sidebar__wiki .sidebar__wiki--header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.2rem;
}

.sidebar__wiki .sidebar__wiki--icon {
  width: 2rem;
  color: #ffa800;
}

.sidebar__wiki a {
  text-decoration: none;
  color: var(--color-black);
}

.sidebar__wiki h2 {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.sidebar__wiki ul {
  font-size: 0.8rem;
}

.sidebar__wiki li {
  margin-bottom: 0.7rem;
}

.sidebar__wiki .sidebar__wiki--items {
  display: block;
  padding: 0.8rem 1.5rem;
  border-radius: 0.7rem;
  transition: 0.5s;
}

.sidebar__wiki--items.active {
  font-weight: bold;
  color: #ffa800;
}

.sidebar__wiki .sidebar__wiki--items:hover {
  background-color: #fff0b8;
  box-shadow: inset 0 0.1rem 0.1rem 0 #f6e6ac;
}

.content {
  margin-left: 23rem;
  margin-top: 7rem;
}
