* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: aliceblue;
}

.container {
  position: relative;
  width: 350px;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
}

.container:hover .text {
  visibility: visible;
}

.container:hover img {
  transform: scale(1.5);
}

.image {
  width: 350px;
  height: 300px;
}

.image img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s;
}

.text {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: crimson;
  opacity: 0.8;
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  color: #fff;
  visibility: hidden;
}

.text h3 {
  margin-bottom: 1.2rem;
}
