<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="./gallery.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img
          src="https://www.hotelrestaurant.co.kr/data/photos/20180205/art_15175330519518_43b250.bmp"
        />
      </div>

      <div class="text">
        <h3>my name</h3>
        <h2>web designer</h2>
      </div>
    </div>
  </body>
</html>
