footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height: 18rem;

  color: var(--color-white);
  background-color: var(--color-black);
  line-height: 1.4;
}

footer h2 {
  color: var(--color-primary);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer .logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

footer .logo .logo__github {
  width: 2rem;
  margin-right: 1rem;
}

footer .logo .logo__fastcampus {
  width: 2rem;
}
